<!-- <h4>Cookie setter</h4> -->
<div>
    <p>Enter github user name</p>
    <input class="w3-margin" type="text" #endpoint_text placeholder="" value="{{username}}"><br>
    <button class="w3-btn w3-border w3-teal w3-margin" (click)="update(endpoint_text)">Load</button>
</div>

<div>
    <h4>Output</h4>
    <img class="w3-border w3-margin" src="{{avatar_url}}" alt="avatar" width="128" height="128"><br>
    <textarea id="myTextArea" cols=120 rows=10>
        {{output}}
    </textarea>

</div>


<!-- <div>
    <h4>Show Cookie</h4>
    <button (click)="showCookie()">reload</button><br>
    <textarea id="myTextArea" cols=120 rows=10>
        {{cookieData}}
    </textarea>
</div> -->